<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My mame is James Checketts. One of my favorite hobbies is playing Dungeons and Dragons with my family. I am always a fan
          of games and stories with fantasy aspects, and D&D offers a fairly unique advantage over many other games: homemade storylines.
          As the Dungeon Master, my job in the game is to write the basic framework for the story and to build the world the story takes
          place in. Since I've always been interested in storytelling, I find this part of the game quite funm indeed.</p>
      </div>
      <div class="col-lg-4">
        <p>Due to this interest in storytelling, I am mostly interested in the field of game development. I enjoy formulating the storylines of 
          games and my analytical mind allows me to mostly understand the coding aspect as well. This is why I am a computer science major.
          I haven't written any games by myself, but I have worked on a few with groups in high school on Unreal Engine. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.unrealengine.com/en-US/?utm_source=GoogleSearch&utm_medium=Performance&utm_campaign=3Q_UnrealEngine_Search_Brand_US&utm_id=17086214833&sub_campaign=&utm_content=&utm_term=unrealengine" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Unreal Engine
        </a>
      </div>
    </div>
  </div>
</section>
