<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <table>
              <tr>
                padding: 10px;
                <th>Roll</th>
                <th> Evocation Class </th>
                <th> Divination Class </th>
                <th> Conjuration Class </th>
                <th> Transmutation Class </th>
                <th> Illusion Class </th>
                <th> Necromancy Class </th>
                <th> Abjuration Class </th>
                <th> Enchantment Class </th>
              </tr>
              <tr>
                <td>1</td>
                <td>You cast Flaming Sphere at third level centered on yourself. It disappears at the start of your next turn.</td>
                <td>For the next minute, you can see any invisible creature in your line of sight.</td>
                <td>A modron appears within five feet of you and relays a message for one minute, scolding you for bringing about chaos, then disappears</td>
                <td>You grow 1d4 inches taller</td>
                <td>Illusory butterflies and flower petals flutter in the air within 10 feet for the next minute</td>
                <td>The nearest piles of bones draw towards each other and form into a false dracolich. It rolls initiative and is hostile to you</td>
                <td>You are immune to the effects of alcohol for the next month</td>
                <td>You cast confusion centered on yourself</td>
              </tr>
              <tr>
                <td>2</td>
                <td>You take 4d10 lightning damage the next time you touch metal in the next minute</td>
                <td>You know the gender of the nearest beast</td>
                <td>You teleport up to 60 feet to an unoccupied space of your choice that you can see</td>
                <td>You shrink 1d4 inches</td>
                <td>You cast Mirror Image</td>
                <td>You de-age by 1d4 years</td>
                <td>You regain all expended sorcery points</td>
                <td>You can take one additional action immediately</td>
              </tr>
              <tr>
                <td>3</td>
                <td>For the next minute, any flammable unsecured object you touch bursts into flame</td>
                <td>You gain blindsight for 20 feet so long as you are not deafened</td>
                <td>You teleport yourself and one other creature within 30 feet of you 20 feet into the air, after which you each fall.</td>
                <td>You cast Levitate on yourself</td>
                <td>You appear to be a heavily muscled orc for the next minute</td>
                <td>You are blinded and deafened for one minute</td>
                <td>Any creature affected by the next spell you cast involving a saving throw in the next minute has disadvantage on that saving throw</td>
                <td>You fall under the effects of hold person until the start of your next turn</td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
