<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <table>
              <tr>
                <th>Roll</th>
                <th> Evocation Class </th>
                <th> Divination Class </th>
                <th> Conjuration Class </th>
                <th> Transmutation Class </th>
                <th> Illusion Class </th>
                <th> Necromancy Class </th>
                <th> Abjuration Class </th>
                <th> Enchantment Class </th>
              </tr>
              <tr>
                <td>1</td>
                <td>You cast Flaming Sphere at third level centered on yourself. It disappears at the start of your next turn.</td>
                <td>For the next minute, you can see any invisible creature in your line of sight.</td>
                <td>A modron appears within five feet of you and relays a message for one minute, scolding you for bringing about chaos, then disappears</td>
                <td>You grow 1d4 inches taller</td>
                <td>Illusory butterflies and flower petals flutter in the air within 10 feet for the next minute</td>
                <td>The nearest piles of bones draw towards each other and form into a false dracolich. It rolls initiative and is hostile to you</td>
                <td>You are immune to the effects of alcohol for the next month</td>
                <td>You cast confusion centered on yourself</td>
              </tr>
              <tr>
                <td>2</td>
                <td>You take 4d10 lightning damage the next time you touch metal in the next minute</td>
                <td>You know the gender of the nearest beast</td>
                <td>You teleport up to 60 feet to an unoccupied space of your choice that you can see</td>
                <td>You shrink 1d4 inches</td>
                <td>You cast Mirror Image</td>
                <td>You de-age by 1d4 years</td>
                <td>You regain all expended sorcery points</td>
                <td>You can take one additional action immediately</td>
              </tr>
              <tr>
                <td>3</td>
                <td>For the next minute, any flammable unsecured object you touch bursts into flame</td>
                <td>You gain blindsight for 20 feet so long as you are not deafened</td>
                <td>You teleport yourself and one other creature within 30 feet of you 20 feet into the air, after which you each fall.</td>
                <td>You cast Levitate on yourself</td>
                <td>You appear to be a heavily muscled orc for the next minute</td>
                <td>You are blinded and deafened for one minute</td>
                <td>Any creature affected by the next spell you cast involving a saving throw in the next minute has disadvantage on that saving throw</td>
                <td>You fall under the effects of hold person until the start of your next turn</td>
              </tr>
              <tr>
                <td>4</td>
                <td>You regain your lowest level expended spell slot</td>
                <td>An eye appears on your forehead and remains for one minute. While it remains, you have advantage on Wisdom (Perception) checks that use sight.</td>
                <td>You summon a minor elemental that disrupts its element within 30 feet in some way and vanishes. The element is determined at random</td>
                <td>You turn into a potted plant until the start of your next turn. You are incapacitated and vulnerable to all damage. If you fall to 0 hit points, you revert to your normal form</td>
                <td>Each creature within 30 feet of you becomes invisible for the next minute as if under the effects of the Invisibility spell, ending if they try to attack or cast any spell</td>
                <td>You age by 1d4 years</td>
                <td>You lose all friction with the ground and become unable to control your movement, which becomes 60 feet. You slide downhill or away from anyone who tries to attack you for 1 minute</td>
                <td>A random creature within 60 feet of you becomes poisoned for 1d4 hours</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Up to three creatures of your choice within 30 feet take 4d10 lightning damage</td>
                <td>You are blinded until the start of your next turn. While blinded in this way, you can see through the eyes of one friendly character of your choice</td>
                <td>You grow a long beard made of owl feathers that remains until you sneeze, whereupon the feathers explode from your face</td>
                <td>You cast Polymorph on yourself. If you fail the saving throw, you turn into a sheep for the spell’s duration</td>
                <td>You glow with bright light in a 30 foot radius for the next minute. Any creature that ends its turn within 5 feet of you is blinded until the end of their next turn</td>
                <td>Each creature within 30 feet takes 1d10 necrotic damage. You regain hit points equal to the amount of damage dealt</td>
                <td>Your speed is reduced to zero for 2d6 hours as your feet freeze in a shield of force.</td>
                <td>A random person within 30 feet believes they are a cat for one minute</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Your size increases by one category for the next minute</td>
                <td>You learn the true name of the nearest fiend within 30 feet if there is one</td>
                <td>A unicorn appears within 5 feet of your, enters combat with the nearest evil creature, and disappears after one minute</td>
                <td>For the next minute, you must shout when you speak</td>
                <td>You become invisible for one minute, during which you can’t be heard. This ends if you attack or cast a spell</td>
                <td>You and the next creature to touch you gain 20 temporary hit points</td>
                <td>You are transported to the Astral Plane until the end of your next turn, when you return to the nearest available point to the place you previously occupied</td>
                <td>You are frightened by the nearest creature until the start of your next turn.</td>
              </tr>
              <tr>
                <td>7</td>
                <td>You cast Magic Missile at third level</td>
                <td>You can see through the skin of all nearby creatures for the next minute. You are poisoned for the duration while you can see.</td>
                <td>1d6 flumphs appear in unoccupied spaces within 60 feet. They flee from the nearest evil creature and disappear after 1 minute</td>
                <td>Your skin turns vibrant blue until removed by the Remove Curse spell</td>
                <td>Each person within 30 feet appears to be the person they hate most for one minute</td>
                <td>If you die within the next minute, you immediately return to life as if affected by the Reincarnate spell.</td>
                <td>You gain resistance to all damage for the next minute</td>
                <td>The nearest beast obeys your orders as if under the effects of a domination spell.</td>
              </tr>
              <tr>
                <td>8</td>
                <td>You cast the same spell you just cast centered on yourself</td>
                <td>You can see into the ethereal plane for one hour.</td>
                <td>You cast Grease centered on yourself</td>
                <td>For the next minute, pink bubbles fill your mouth whenever you try and fail to speak</td>
                <td>You are surrounded by faint ethereal music for one minute</td>
                <td>All nearby undead are repulsed by you</td>
                <td>You are vulnerable to fire and ice damage for one minute</td>
                <td>You are charmed by the nearest person to whom you are attracted</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Maximize the damage of the next damaging spell you cast within one minute</td>
                <td>You learn the weaknesses and resistances of all creatures you can see</td>
                <td>You cast Fog Cloud centered on yourself</td>
                <td>Your hair falls out and regenerates overnight</td>
                <td>The next divination spell cast within 30 feet of you or targeting you will fail</td>
                <td>For the next minute, you regain 5 hit points at the start of each of your turns</td>
                <td>You and each creature within 30 feet gain vulnerability to piercing damage for the next minute</td>
                <td>You fall unconscious and prone, waking up after taking a solid nap of 20 minutes. Adventuring is tiring, after all!</td>
              </tr>
              <tr>
                <td>10</td>
                <td>You can cast one additional evocation spell immediately. Afterwards, you become unable to cast evocation spells for one minute</td>
                <td>For the next minute, you can unerringly tell what spell any person within 30 feet is about to cast before they do so.</td>
                <td>For the next minute, you can teleport up to twenty feet as a bonus action on each of your turns.</td>
                <td>For the next minute, all your spells with a casting time of 1 action have a casting time of 1 bonus action and vice versa</td>
                <td>The effects of light spells within 30 feet of you reverse, bypassing darkvision</td>
                <td>Regain 2d10 hit points</td>
                <td>A spectral shield appears near you for the next minute, granting you +2 AC and immunity to Magic Missile</td>
                <td>You believe with all of your being that a dragon just landed on your favorite comrade, killing them. You find yourself to be mistaken after one minute or you hear this ally speak</td>
              </tr>
            </table>
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
